.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.Window {
  width: 565px;
}

.Tab {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 767px) {
  .App {
    margin-top: 100px;
  }

  .Window {
    width: 350px;
  }

  .Tab {
    padding-left: 10px;
    padding-right: 10px;
  }
}
