.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.Window {
  width: 600px;
}

.Tab {
  padding-left: 15px;
  padding-right: 15px;
}
